<div class="hero-body">
    <div class="container">
      <h1 class="title">Welcome!</h1>
	 <h3>* Guaranteed best rates on car rentals worldwide.
	Search & compare rates all over.</h3>
	<h3>* No hidden fees.</h3>
	<h3>* Low damage excess.</h3>
	<h3>* The easiest way to rent with a debit card.</h3>
	<h3>* Reliable service</h3>
	<h3>* No cost to enroll and no deductible.</h3>
  </div>
 </div>
  <table class="table is-fullwidth">
  
  <thead class="table is-bordered">
    <tr>
      <th><abbr title="Car Number">Car_no</abbr></th>
      <th>Team</th>
      <th><abbr title="Car type">Car_Type</abbr></th>
      <th><abbr title="Car location">Car_loc</abbr></th>
      <th><abbr title="Car name">C_Name</abbr></th>
      <th><abbr title="car price">Price</abbr></th>
      <th><abbr title="Active/Inactive">A/I</abbr></th>
          </tr>
  </thead>
 </table>