<section class="hero is-fullheight has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Go anywhere with CarRentals!</h1>
	</div>
  </div>
   
</section>
<div class="columns is-centered">
  <div class="column is-one-fifth">
	  <div class="box">
    <p class="heading">Go Anywhere</p>
	<p class="content">Our cars have all India permits Just remember to pay state tolls and entry taxes</p>
  </div>
  </div>
  <div class="column is-one-fifth">
	  <div class="box">
    Damage Insurance
	<p class="content">All your bookings include damage insurance. Drive safe but don't worry!</p>
  </div>
  </div>
  <div class="column is-one-fifth">
	  <div class="box">
    No Hidden Charges
	<p class="content">Our Payment policies are transparent. Free to book without any other extra charges.</p>
  </div>
  </div>
  <div class="column is-one-fifth">
	  <div class="box">
    24x7 Roadside Assistance
	<p class="content">Unlimited breakdown assistance service, free towing,fuel delivery and key recovery.</p>	
  </div>
  </div>
</div>
